* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
overflow-x: hidden !important;

}



.text-orng {
  color: #ee0202;
}




@font-face {
    font-family: 'overusedgrotesk';
    src: url('/fonts/fonts/variable/OverusedGrotesk-VF.woff2') format('woff2'),
         url('/fonts/fonts/variable/OverusedGrotesk-VF.woff') format('woff'),
         url('/fonts/fonts/ttf/OverusedGrotesk-Black.ttf') format('truetype'),
         url('/fonts/fonts/ttf/OverusedGrotesk-Medium.ttf') format('truetype'),
         url('/fonts/fonts/ttf/OverusedGrotesk-Bold.ttf') format('truetype'),
         url('/fonts/fonts/ttf/OverusedGrotesk-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.font-overused {
  font-family: 'overusedgrotesk', sans-serif !important;
}
.font-overused-light {
  font-family: 'overusedgrotesk', sans-serif !important;
  font-weight: lighter;
}
.font-overused-medium {
  font-family: 'overusedgrotesk', sans-serif !important;
  font-weight: bold;
}
.font-overused-bold {
  font-family: 'overusedgrotesk', sans-serif !important;
  font-weight: bolder;
}






.font-weight-600 {
font-weight: 600;
}

.bg-black {
  background-color: black;
}

.foot-social:hover {
  opacity: 0.7;
}

.ml-175px{
  margin-left: 175px;
}
.ml-220px{
  margin-left: 220px;
}
.ml-230px{
  margin-left: 230px;
}
.ml-35px{
  margin-left: 35px;
}



/* RESIDENTIAL PAGE HERO  */
.res-hero{
  height: 100vh;
}

.space10 {
  height: 8rem;
}

/* HOME PAGE HERO SECTION */


 .hero {
    height: 50vh;
    margin-top: 125px !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
    }

 .hero-con1 {
    width: 100%;
    text-align: center;
  }


  .hero2 {
    height: 20vh;
    margin-bottom: 125px !important;
  }
  .content {
    margin-top: 45px;
  }
  
  .hero-headline{
    color: rgb(238, 62, 9);
    font-size: 5 rem;
    line-height: 1.2; /* Adjust the line-height to reduce space */
  }

  .hero-headline2{
    color: rgb(238, 62, 9);
    font-size: 4.1rem;
    font-weight: 600;
    line-height: 1.2; /* Adjust the line-height to reduce space */
  }
  
  #staticText{
    font-size: 3rem;
    /* font-family: 'HelveticaNeue'; */
    font-weight: 400;
    line-height: 1.2; /* Adjust the line-height to reduce space */
  }
  
  
/* START: FONTS */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}



.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.poppins-regular {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.poppins-medium {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.poppins-bold {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}




.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}



/* ROBOTO SERIF FONTS */


.roboto-serif-header {
  font-family: "Roboto Serif", serif;
  font-weight: 300;
}

.roboto-serif-header2 {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  font-size: 2.5rem;
}


.roboto-serif-header3 {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  font-size: 1.5rem;
}


.roboto-serif-header4 {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  font-size: 0.9rem;
}



.font-grey {
  color: rgb(73, 73, 73) !important;
}

.font-grey2 {
  color: rgb(133, 133, 133) !important;
}


/* END: FONTS */











  #typeline {
    font-size: 4rem;
    color: #183154;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2; /* Adjust the line-height to reduce space */
  }
  
  @-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
  em {
      width: 30ch;
      white-space: nowrap;
      overflow: hidden;
        margin-top: 0;
        color: #3295dd;
      -webkit-animation: typing 4s steps(21, end),
      blink-caret .5s step-end infinite alternate;
  }
  
.hero{
  height: 90vh;
}
  


/* 

  .hero-con2{
    height: 30vh;
  }
 

  .hero-logo {
    width: 35rem !important;
    height: auto;
  } */


/* LINK MOVING ARROW */

.learn-more-arrow {
  transition: transform 0.5s ease-in-out ;
}
a:hover .learn-more-arrow {
  transform: translateX(10px);
}



/* ARROW */

.arrow {
    position: absolute;
    bottom: 7%;
    left: 50%;
    margin-left: -20px;
}
.arrow:before,
.arrow:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
}
.arrow:before {
    left: 50%;
    transform: translateX(-50%);
    border-width: 20px 20px 0 20px; /* top right bottom left */
    border-color: rgb(238, 62, 9) transparent transparent transparent;
}
.arrow:after {
    left: 50%;
    transform: translateX(-50%);
    border-width: 20px 20px 0 20px; /* top right bottom left */
    border-color: rgb(238, 62, 9) transparent transparent transparent;
}

   
  .animated{
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s both infinite;
  }
   
   
  @-webkit-keyframes bounce {
      0% {-webkit-transform: translateY(-60px); opacity: 0;}
    60% { opacity: 1;}
    100% {-webkit-transform: translateY(0); opacity: 0}
  }
   
  @-moz-keyframes bounce {
      0% {-webkit-transform: translateY(-60px); opacity: 0;}
    60% { opacity: 1;}
    100% {-webkit-transform: translateY(0); opacity: 0}
  }
   
  @-o-keyframes bounce {
      0% {-webkit-transform: translateY(-60px); opacity: 0;}
    60% { opacity: 1;}
    100% {-webkit-transform: translateY(0); opacity: 0}
  }
  @keyframes bounce {
      0% {-webkit-transform: translateY(-60px); opacity: 0;}
    60% { opacity: 1;}
    100% {-webkit-transform: translateY(0); opacity: 0}
  }


/* CUSTOM GLOBAL STYLES */

.button-bg{
    background-color: #05247E
    !important;
    color: white;
}
.button-bg-outline{
    background-color: rgb(255, 255, 255) !important;
    color: #ee0202;
    font-weight: 600;
    border: 1px #05247E
    ;
}


  /* CARD BOX */

  .card-border1 {
    
  }


  .card-shadow1:hover {
    box-shadow: rgba(149, 157, 165, 0.35) 0px 8px 24px;
  }


  .bg-blue50 {
    background-color: #c2e6ff6c;
  }

  /* DIGITAL SERVICES BOX */

  .box-large .position-relative {
    height: 300px; /* Adjust height as needed */
    width: 350px;
  }

.box-large .flex-fill {
    height: 100%;
}



/* ****** */
  .custom-row {
      margin: 0;
    }
    .custom-col {
      padding: 0;
    }
    .custom-box {
      position: relative;
      overflow: hidden;
      height: 300px; /* Adjust height as needed */
      text-align: center;
      border-right: solid 0.5px;
      border-color: #e2e2e2ae;
    }
    .custom-box img {
      width: 100%;
      height: 100%; /* Ensure the image covers the box */
      object-fit: cover; /* Cover the entire box */
      transition: transform 0.5s ease;
    }
    .custom-box:hover img {
      transform: scale(1.2); /* Zoom effect on hover */
    }
    .custom-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0); /* Dark overlay */
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px;
      box-sizing: border-box; /* Ensure padding doesn't affect box size */
    }
    .custom-overlay h3,
    .custom-overlay p {
      color: #000000;
      margin: 0;
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    .custom-overlay p {
      opacity: 0;
      transform: translateY(20px); /* Start from below */
    }
    .custom-box:hover .custom-overlay p {
      opacity: 1;
      transform: translateY(0); /* Move up */
    }
    .custom-box:hover .custom-overlay h3 {
      transform: translateY(-20px); /* Header moves up */
    }

/* ****** */



/* START: SLIDER in TECHNOLOGIES */

    /* right to left  */
.sliding-words-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0;
}
.sliding-words {
  display: inline-block;
  animation: slide 80s linear infinite; /* Very slow animation */
}

.slider-font {
  font-size: 4.5rem;
  font-weight: 700 !important;
  color: #cfcfcf !important;
}
.sliding-words a {
  /* margin-right: 20px; */
  text-decoration: none;
}
.sliding-words a:hover {
  color: rgb(255, 89, 0);
}
@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}


    /* left to right */

    .new-slider-container {
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      padding: 10px 0;
  }
  .new-slider-content {
      display: inline-block;
      animation: new-slide-ltr 80s linear infinite; /* Very slow animation */
  }
  .new-slider-item {
      margin-right: 20px;
      text-decoration: none;
      color: #333;
      transition: color 0.3s ease;
  }
  .new-slider-item:hover {
      color: orange;
  }
  @keyframes new-slide-ltr {
      0% {
          transform: translateX(-50%);
      }
      100% {
          transform: translateX(0);
      }
  }

/* END: SLIDER TECHNOLOGIES */



/* START: DIGITAL MARKETING */

.zoom-container {
  overflow: hidden;
}
.zoom-image {
  transition: transform 0.5s ease;
}
.zoom-container:hover .zoom-image {
  transform: scale(1.1);
}


/* END: DIGITAL MARKETING */



/* START: COMPANIES SLIDER */

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vh;
  background-color: #111243;
  color: white;
}
.slider {
  display: flex;
  transition: transform 1.2s ease-in-out;
  height: 100%;
}
.slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.progress-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.progress-bar {
  width: 50px;
  height: 4px;
  background-color: white;
  margin: 0 5px;
  transition: background-color 0.5s ease-in-out;
}
.progress-bar.active {
  background-color: #ff630f;
}

/* END: COMPANIES SLIDER */



/* START: CARDS: PROJECT OUTSOURCING  */
.card1 {
  height: 100%;
  transition: all 0.3s ease;
  border: 1px solid rgba(165, 149, 255, 0.152);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
}
.card1:hover {
  background-color: #111243;
  color: white;
  border-color: #1112436f;
}
.card1:hover .card-title,
.card1:hover .card-text,
.card1:hover .card-link {
  color: white;
}
.number {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(45deg, #4e54c885, #8f94fba8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card1:hover .number {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-link {
  color: #043971;
  text-decoration: none;
}
.card-link:hover {
  text-decoration: underline;
}




/* END: CARDS: PROJECT OUTSOURCING  */







/* START: CARDS: DIGITAL MARKETING */

.custom-container {
  padding: 0 15px; /* Customize padding as needed */
}

.custom-card {
  background-color: #f8f9fa; /* Optional: Add a background color */
  border: none; /* Removes borders */
  box-shadow: none; /* Removes any box shadow */
  padding: 20px; /* Add padding inside the card */
}

.custom-header {
  font-weight: 500;
  font-size: 1.75rem; /* Adjust as needed */
  margin-bottom: 10px;
}

.custom-body {
  padding: 0;
}

.custom-list-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.custom-list-item i {
  color: #007bff; /* Customize the arrow color */
}

.custom-list-item i,
.custom-list-item span {
  font-size: 1rem; /* Adjust the size of the icon and text */
}


/* END: CARDS: DIGITAL MARKETING */



/* START: DIGITAL SERVICES: INDUSTRIES SECTION */


.bg-container {
  position: relative;
  height: 70vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.industry-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.industry-card {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  position: relative;
}
.industry-card:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.industry-card:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.card-content {
  transition: transform 0.5s ease;
}
.industry-card:hover .card-content {
  transform: translateY(-60px);
}
.additional-text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.industry-card:hover .additional-text {
  opacity: 1;
}
@media (max-width: 768px) {
  .industry-container {
      flex-direction: column;
  }
  .industry-card:not(:last-child) {
      border-right: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}


/* END: DIGITAL SERVICES: INDUSTRIES SECTION */


/* START: DIGITAL SERVICE PAGE: HIRING MODELS CARDS  */

.custom-card-class {
  border: 1px solid #e0e0e0; /* Subtle light grey border */
  border-radius: 0; /* No border radius */
  padding: 15px; /* Padding for text */
}

.custom-icon {
  font-size: 24px; /* Icon size */
  color: #333;
  margin-right: 10px; /* Space between icon and text */
}

.custom-list-icon {
  margin-right: 5px; /* Space between list icon and text */
  color: #333;
}

/* END: DIGITAL SERVICE PAGE: HIRING MODELS CARDS  */


/* START: DIGITAL SERVICES PAGE - GUIDE SECTION */
.content-wrapper {
  height: 100vh;
  overflow: hidden;
}
.fixed-side {
  height: 100%;
  overflow-y: auto;
}
.scrollable-content {
  height: 100%;
  overflow-y: auto;
}
.title-link {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}
.title-link.active {
  background-color: #f8f9fa;
  font-weight: bold;
}
.article {
  padding: 20px;
  border-bottom: 1px solid #dee2e6;
}
@media (max-width: 767.98px) {
  .content-wrapper {
      height: auto;
      overflow: auto;
  }
  .fixed-side, .scrollable-content {
      height: auto;
      overflow: visible;
  }
}
/* END: DIGITAL SERVICES PAGE - GUIDE SECTION */





/* START: CONTACT FORM CONTACT LINKS */
.icon-link {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}
.icon-link:hover {
  color: #007bff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transform: translateY(-2px);
}
.icon-link i {
  margin-right: 5px;
  font-size: 1.2rem;
}

/* END: CONTACT FORM CONTACT LINKS */



/* START :  FOOTER: LINKS */
.ds-footer-nav-link {
  transition: all 0.3s ease;
  font-weight: normal;
  display: inline-block;
  padding: 2px 4px;
  margin-left: -4px;
  transform-origin: left center;
  text-decoration: none;
}
.ds-footer-nav-link:hover {
  transform: scale(1.05);
  font-weight: bold;
}

/* END :  FOOTER: LINKS */





/* START: DIGITAL SERVICES PAGE  */
/* END: DIGITAL SERVICES PAGE  */

/* ROTATING TEXT */
.center-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
}

.central-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  color: black;
  z-index: 1;
}

.rotating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px; /* Adjust to fit the text */
  height: 200px; /* Adjust to fit the text */
  transform: translate(-50%, -50%);
  animation: rotate 20s linear infinite;
}

.rotating-text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 100px; /* Adjust based on circle size */
  font-size: 16px;
  color: grey;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}



  /* MOBILE RESPONSIVE */


  @media screen and (max-width: 1200px) {
    .hero-headline {
        font-size: 4rem; /* Reduce font size for medium screens */
    }

    #staticText {
        font-size: 2.5rem; /* Reduce font size for medium screens */
    }

    #typeline {
        font-size: 3.5rem; /* Reduce font size for medium screens */
    }
}




  @media screen and (max-width: 992px) {
    .hero-headline {
        font-size: 2.8rem; /* Reduce font size for small screens */
    }

    #staticText {
        font-size: 1.6rem; /* Reduce font size for small screens */
    }

    #typeline {
        font-size: 1.6rem; /* Reduce font size for small screens */
    }
}



  @media screen and (max-width: 768px) {
    .hero-headline {
        font-size: 2.2rem; /* Reduce font size for smaller screens */
        line-height: 1; /* Reset line height to default */
    }

    #staticText {
        font-size: 1.6rem; /* Reduce font size for smaller screens */
        line-height: 1; /* Reset line height to default */
    }

    #typeline {
        font-size: 1.6rem; /* Reduce font size for smaller screens */
        line-height: 1; /* Reset line height to default */
    }
}



/* START: FOOTER */

.foot-vb-logo {
    height: auto !important;
    width: auto !important;
}



/* END: FOOTER */